# Telegram Bot Token
REACT_APP_TG_BOT_TOKEN=your_bot_token

# Game Settings
REACT_APP_GAME_MIN_PLAYERS=2
REACT_APP_GAME_MAX_PLAYERS=2
REACT_APP_GAME_WIN_POINTS=31

# API URLs
REACT_APP_API_URL=http://localhost:3000
REACT_APP_WS_URL=ws://localhost:3000

# Environment
REACT_APP_ENV=development
